{
  "semi": true,
  "tabWidth": 2,
  "useTabs": true,
  "printWidth": 100,
  "endOfLine": "auto",
  "singleQuote": false,
  "trailingComma": "es5",
  "bracketSameLine": true,
  "plugins": ["prettier-plugin-tailwindcss"]
}
